extends layout

block content
    script.
        let post_modal_visible = false;

        function toggle_post_modal(id, reply_id=null) {
            if (post_modal_visible) {
                $('.new-post-modal').css('display', 'none')
            }
            else {
                $('.new-post-modal').css('display', 'block')
                document.getElementById('new-post-modal').scrollIntoView();
            }

            if (id) {
                $('#new-post').attr('action', '/reply/' + id)
            }
            else {
                $('#new-post').attr('action', '/new_post')
            }

            if (reply_id) {
                $('#new-post-content').val('>' + reply_id.toString() + '\n');
            }

            post_modal_visible = !post_modal_visible;
        }

        $(document).ready(function() {
            $('.moment').each(function(i, obj) {
                this.innerHTML = moment(this.innerHTML).fromNow();
            });

            $('.post-content').each(function(i, obj) {
                if (this.innerHTML.includes('&gt;')) {
                    let split_up = this.innerHTML.split('\n');

                    for (let i = 0; i < split_up.length; i++) {
                        if (split_up[i].includes('&gt;')) {
                            split_up[i] = "<a href='/reply/" + parseInt(split_up[i].slice(4), 10) + "'>" + split_up[i] + '</a>';
                        }
                    }

                    this.innerHTML = split_up.join('\n');
                }
            });

            document.getElementById('highlighted-reply').scrollIntoView();
        });


    p.buttons
        | <a href='#' onclick='toggle_post_modal()'>New Post</a>

    div.new-post-modal#new-post-modal
        form#new-post(action='/new_post' method='post')
            label Posting to board:
            input.inline(type='text' name='board' value=board)

            input(type='text' name='username' placeholder='Username (optional)' maxlength='16')
            input(type='text' name='title' placeholder='Post title (optional)' maxlength='50')
            textarea#new-post-content(name='text' placeholder='Post content' maxlength='1000')
            input(type='text' name='image_url' placeholder='Image URL (optional)' maxlength='100')

            input(type='submit' value='Post')

    each p in posts
        div.post
            table
                tr
                    if p.image_url
                        td.image
                            a(href=p.image_url)
                                img(src=p.image_url)

                    td.post
                        p
                            if p.title
                                | <span class='highlight'>#{p.title}</span>&nbsp;
                            if p.poster
                                | <b>#{p.poster}</b><span class='subdued'>##{p.id}
                            else
                                | <span class='subdued'><b>Anonymous</b>##{p.id}
                            | &nbsp;@#{p.time_stamp}/<span class='moment'>#{p.time_stamp}</span>
                            | </span>
                            | <span class='small highlight-bg'>
                            | <a href='#' onclick='toggle_post_modal(#{p.id})'>Reply</a>,
                            | <a class='subdued' href='/post/#{p.id}'>Permalink</a>
                            | </span>

                        pre.post-content= p.text.trim()

        each r in replies
            if r.parent == p.id
                mixin reply_code
                    table
                        tr
                            if r.image_url
                                td.image
                                    a(href=r.image_url)
                                        img(src=r.image_url)

                            td.post
                                p
                                    if r.poster
                                        | <b>#{r.poster}</b><span class='subdued'>##{r.id}
                                    else
                                        | <span class='subdued'><b>Anonymous</b>##{r.id}
                                    | &nbsp;@#{r.time_stamp}/<span class='moment'>#{r.time_stamp}</span>
                                    | </span>
                                    | <span class='small highlight-bg'>
                                    | <a href='#' onclick='toggle_post_modal(#{p.id}, #{r.id})'>Reply</a>,
                                    | <a class='subdued' href='/reply/#{r.id}'>Permalink</a>
                                    if r.children
                                        | &nbsp;| Replies: [&nbsp;
                                        each c in JSON.parse(r.children)
                                            | <a href='/reply/#{c}'>#{c}</a>&nbsp;
                                        | ]
                                    | </span>

                                pre.post-content= r.text.trim()

                if r.id == highlight
                    div.reply.highlight#highlighted-reply
                        +reply_code

                else
                    div.reply
                        +reply_code
