extends layout

block content
    script.
        let post_modal_visible = false;

        function toggle_post_modal(id) {
            if (post_modal_visible) {
                $('.new-post-modal').css('display', 'none')
            }
            else {
                $('.new-post-modal').css('display', 'block')
            }

            if (id) {
                $('#new-post').attr('action', '/reply/' + id)
            }
            else {
                $('#new-post').attr('action', '/new_post')
            }

            post_modal_visible = !post_modal_visible;
        }

        $(document).ready(function() {
            $('.moment').each(function(i, obj) {
                this.innerHTML = moment(this.innerHTML).fromNow();
            });
        });

    p.buttons
        | <a href='#' onclick='toggle_post_modal()'>New Post</a>

    div.new-post-modal
        form#new-post(action='/new_post' method='post')
            input(type='hidden' name='board' value=board)

            input(type='text' name='username' placeholder='Username (optional)' maxlength='16')
            input(type='text' name='title' placeholder='Post title (optional)' maxlength='50')
            textarea(name='text' placeholder='Post content' maxlength='1000')
            input(type='text' name='image_url' placeholder='Image URL (optional)' maxlength='100')

            input(type='submit' value='Post')

    each p in posts
        div.post
            table
                tr
                    td.image
                        a(href=p.image_url)
                            img(src=p.image_url)

                    td.post
                        p
                            | <span class='highlight'>#{p.title}</span>
                            if p.poster
                                | &nbsp;<b>#{p.poster}</b><span class='subdued'>##{p.id}
                            else
                                | <span class='subdued'><b>Anonymous</b>##{p.id}
                            | &nbsp;@#{p.time_stamp}/<span class='moment'>#{p.time_stamp}</span>
                            | </span>
                            | <a href='#' onclick='toggle_post_modal(#{p.id})'>Reply</a>

                        pre= p.text

        each r in replies
            if r.parent == p.id
                div.reply
                    table
                        tr
                            td.image
                                a(href=r.image_url)
                                    img(src=r.image_url)

                            td.post
                                p
                                    if r.poster
                                        | <b>#{r.poster}</b><span class='subdued'>##{r.id}
                                    else
                                        | <span class='subdued'><b>Anonymous</b>##{r.id}
                                    | &nbsp;@#{r.time_stamp}/<span class='moment'>#{r.time_stamp}</span>
                                    | </span>

                                pre= r.text
